%h1 Post List
.text-center
  = link_to '＼＼　新規投稿　／／', new_post_path, class: "btn btn-warning btn-lg mx-auto"

.div_notes
  .p このサイトはアカウント登録をしなくても閲覧できます
  .p アカウント登録すると画像を投稿することができます
  .p 登録の際には@を含む文字をEmail欄に入力してください
  .p 例えばshinohra@tomoya　です
  .p passwordはテキトーに123456として6文字必要です。

.wrap  
  - @posts.each do |post|
    = render 'commons/post', post: post 
 
.text-center
  = link_to '＼＼　新規投稿　／／', new_post_path, class: "btn btn-warning btn-lg mx-auto"

-# .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4



-# 以下はスライダーとスライドショーとフェードインの記述。もう少し進んでから実装する
-# -# jQueryのスライドショー
-# .row
-#   .col-md-12
-#     #slideshow
-#       .mySlides
-#         = image_tag "image1.jpg"
-#       .mySlides
-#         = image_tag "image2.jpg"
-#       .mySlides
-#         = image_tag "image3.jpg"
    
-#     %br
-#     %button#prev{"onclick" => "plusSlides(-1)"} &#10094;
-#     %button#next{"onclick" => "plusSlides(1)"} &#10095;

-# :javascript
-#   var slideIndex = 1;
-#   showSlides(slideIndex);

-#   function plusSlides(n) {
-#     showSlides(slideIndex += n);
-#   }

-#   function showSlides(n) {
-#     var i;
-#     var slides = document.getElementsByClassName("mySlides");
-#     if (n > slides.length) {slideIndex = 1}
-#     if (n < 1) {slideIndex = slides.length}
-#     for (i = 0; i < slides.length; i++) {
-#       slides[i].style.display = "none";
-#     }
-#     slides[slideIndex-1].style.display = "block";
-#   }

-# -# jQueryのスライダー
-# .row
-#   .col-md-12
-#     #slider
-#       %ul
-#         %li
-#           = image_tag "image1.jpg"
-#         %li
-#           = image_tag "image2.jpg"
-#         %li
-#           = image_tag "image3.jpg"
  
-# :javascript
-#   $(function() {
-#     $('#slider').slick({
-#       arrows: true,
-#       autoplay: true,
-#       dots: true,
-#     });
-#   });

-# -# jQueryでふわっと画像が表示されるセクション
-# .row
-#   .col-md-12
-#     #fade-in
-#       = image_tag "image1.jpg"
  
-# :javascript
-#   $(function() {
-#     $('#fade-in').hide().fadeIn(2000);
-#   });