
.index_container
  %h2 投稿詳細ページ


.container.my-8
  -# #post-<%= post.id %>.mb-3
  .post{id: @post.id, class: 'mb-3'}
    %p.font-bold 【text】：#{@post.title}
  .post-images
    - if @post.images.attached?
      - @post.images.each do |image|
        .post-images-item
          = image_tag(image, width:400, class: "image_message")
          -# = image_tag(image.variant(resize_to_limit: [100, 100]), class: "")

- if user_signed_in? && current_user.has_written?(@post)
  .card-footer
    -# = link_to '詳細', @post, class: "btn btn-sm btn-primary"
    = button_to '削除', post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger"

  




  -# .post_container 
  -#   - if post.image.atatached?
  -#   .post_image
  -#     = image_tag @post.image.url, class: 'image_message'

  -#   .dropdown
  -#     -# = image_tag 'actions.svg', class: 'dropbtn'
  -#     .dropdown-content.mini
  -#       = link_to "編集", edit_post_path(@post), class: "dropdown-item"
  -#       = link_to "削除", post_path(@post), class: "dropdown-item", data: {method: 'delete', confirm: "本当に削除してもよろしいですか？"}
  -#   %p= @post.content

