// @import 'header';
// @import './variables';

@import 'bootstrap';
@import "bootstrap-sprockets";
@import 'posts';
@import 'form';
@import 'header';


body {
    background-color: #F0F0F0;
  }
  
  h1 {
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
  }
  
  p {
    font-size: 18px;
    margin: 20px;
  }
  
  a {
    font-size: 18px;
    margin: 20px;
    text-decoration: none;
    color: #333;
  }
